tgcrypto==1.1.1
asyncio
ffmpeg-python
py-tgcalls==0.9.1
pyrogram==2.0.30
yt-dlp
youtube-search-python
lyricsgenius
youtube-search
python-dotenv
dnspython
gitpython
aiofiles
aiohttp
requests
pillow
motor
psutil
wget
